ul {
    font-size:0.95rem;
}


.disabled {
    text-decoration: line-through;
    pointer-events: none;
}


.redScary {
    color:red;
    font-weight: bold;
}

.dateText {
    color:#9e9e9e;
    font-size:1.5rem;
    text-decoration: underline;
}

img {
    border-style: solid;
    border-color: aqua;
}

